.react-flow{

    position:relative;

    z-index:5;
}

.react-flow__handle {
  display: none;
}

.space-map{

    width:100%;

    height:100%;

    background:transparent;

    position:relative;

    z-index:5;
}

.planet{

    position:absolute;

    width: 520px;

    left:-220px;

    bottom:-220px;

    opacity:.18;

    pointer-events:none;

    z-index:1;
}